.SocialMedia{
    display: inline-block;
    flex-direction: column;
    text-align: center;
    width: 100vw;
}

.MediaList{
    display: flex;
    flex-direction: initial;
    justify-content: center;
}

.MediaList li{
    display: block;
    width: 200px;
    margin: 20px;
    font-size: 15px;
    justify-content: flex-start;
}

.MediaList li img{
    padding: 0;
    margin: 3px;
    width: 30px;
    height: 30px;
}