.SocialMedia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98vw;
    background: #45A29E;
}

.MediaList{
    display: flex;
    width: 80vw;
    justify-content: center;
    align-self:center;
    flex-direction: row;
    flex-wrap: wrap;
}

.MediaList li{
    display: flex;
    align-items: center;
    width: 200px;
    margin: 20px;
    font-size: 15px;
    justify-content: flex-start;
    flex-grow: 1;
    color: #0B0C10;
}

.MediaList li img{
    padding: 0;
    margin: 3px;
    width: 30px;
    height: 30px;
}