.RepresentativeTeams{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    padding: 10px;
}

.Team{
    width: 25vw;
    height: 75vh;
    flex-direction: column;
    margin: 10px 20px 10px 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-width: 3px;
    border-style: inset;
    border-color: #66FCF1;
    color: #45A29E;
    min-width: 300px;
    min-height: 400px;
}

.Team a img{
    max-width: 200px;
    max-height: 220px;
}

@media  (max-width: 900px){
    .Team a img{
        max-width: 150px;
        max-height: 170px;
    }
}