.Cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.Card{
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 65vh;
    width: 20vw;
    padding: 10px 10px 10px 10px;
    align-items: center;
    border-style: inset;
    border-color: #66FCF1;
    color: #45A29E;
    border-width: 3px;
    min-width: 300px;
    min-height: 400px;
}

.Card img{
    width: 20vh;
    height: 20vh;
    max-width: 200px;
    max-height: 220px;
    min-width: 100px;
    min-height: 120px;
}
@media  (min-height: 600px){
    .Card {
        max-width: 400px;
        max-height: 300px;
    }
}
